@font-face {
    font-family: "Bitter";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/Bitter-Regular.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "Bitter";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/Bitter-Bold.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "Bitter";
    font-style: italic;
    font-weight: 400;
    src: url("fonts/Bitter-Italic.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "JetBrains Mono";
    src: url("fonts/JetBrainsMono-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Bitter", serif;
    max-width: 70ch;
    padding: 2ch;
    margin-left: auto;
    margin-right: auto;
}

header {
    color: lab(56% 0 0);
    border-bottom: 1px solid #e5e5e5;
    margin: 0 auto;
    padding-top: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

footer {
    border-top: 1px solid #e5e5e5;
    padding-top: 0.75rem;
    margin-top: 1.75rem;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 1rem;
}

header h1 a {
    text-decoration: none;
    color: inherit;
}

nav ul {
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav a:hover,
nav a:focus {
    text-decoration: underline;
}

div.post blockquote {
    background: #fafafa;
    font-style: italic;
    padding: 0.5em;
}

h1.title {
    font-size: xx-large;
}

p.subtitle {
    color: lab(56% 0 0);
}

div.post code {
    font-family: "JetBrains Mono", monospaced;
    font-size-adjust: ex-height 0.45;
}

div.post p code {
    color: darkgoldenrod;
}

div.post pre {
    outline: 1px solid #ccc;
    padding: 1em;
    border-radius: 0.5em;
}

div.post img {
    max-width: 90%;
    height: auto;
    margin: auto;
    display: block;
}

a {
    color: #2156a5;
}

img.logo {
    display: inline-block;
    height: 1em;
}
