<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Manuel Cerón</title>
        <link rel="stylesheet" href="/style.css" />
    </head>

    <body>
        <header>
            <h1><a href="/">Manuel Cerón</a></h1>
            <nav>
                <ul>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </nav>
        </header>

        <section class="section">
            <div class="container">
                {% block content %} {% endblock content %}
            </div>
        </section>

        <footer>
            <small>
                © 2025 Manuel Cerón
                | <a href="https://col.social/@manuelceron"> <img class="logo" src="/images/mastodon-logo.svg" /> manuelceron@col.social</a>
                | <a href="https://github.com/ceronman"> <img class="logo" src="/images/github-logo.svg" /> ceronman</a>
            </small>
        </footer>
    </body>
</html>
